.card.CompanyCard {
    width: 18rem;
    text-decoration: none;
    background-color: rgba(25, 25, 25, .8);
}

.CompanyCard .card-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
}

.card.CompanyCard img {
    border-radius: .25rem;
}

.card.CompanyCard p,
.card.CompanyCard .h5,
.card.CompanyCard hr {
    color: white;
}

.card.CompanyCard {
    transition: all .1s ease-in-out;
}

.card.CompanyCard:hover {
    box-shadow: 0 0 .75rem .1rem rgb(0, 0, 0, .35);
    transform: scale(1.02);
}