.JobCard {
    width: 18rem;
}

.JobCard small {
    display: block;
}

.card.JobCard {
    transition: all .1s ease-in-out;
}

.card.JobCard:hover {
    box-shadow: 0 0 .75rem .1rem rgb(0, 0, 0, .35);
    transform: scale(1.02);
}

.JobCard .card-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.card.JobCard .card-title,
.card.JobCard .card-text,
.card.JobCard hr {
    color: white;
}

.btn.applyButton {
    font-size: .9rem;
    color: rgb(148, 225, 33);
    text-decoration: none;
}

.btn.applyButton:hover {
    color: rgb(148, 225, 33);
    background-color: var(--bs-dark-rgb);
    text-decoration: underline;
}

.btn.applyButton:disabled {
    color: rgb(123, 186, 27);
    text-decoration: none;
    background-color: var(--bs-dark-rgb);
}