.homePageBanners {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joblyHomeBanner {
    color: white;
    width: fit-content;
    padding: 1.75rem 2.5rem 1.25rem;
    border-radius: 1rem;
}

.joblyHomeBanner h1 {
    font-size: 3rem;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.joblyHomeBanner h2 {
    font-size: 1.25rem;
}

.btn.homePageButton {
    /* box-shadow: 0 0 .1rem .1rem rgb(255, 255, 255, .5); */
    margin: .25rem;
    border-color: rgb(150, 150, 150, .7);
    background-color: transparent;
    color: white;
}

.welcomeMessage {
    background-color: rgb(148, 225, 33);
    width: fit-content;
    padding: .5rem 2.5rem;
    border-radius: 1rem;
    animation: .5s infinite ease float;
    box-shadow: 0 0 .75rem .1rem rgb(0, 0, 0, .35);
}

.welcomeMessage h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bs-dark-rgb);
    margin: 0;
}

button.guestLoginButton {
    font-size: .9rem;
    color: rgb(148, 225, 33);
    text-decoration: none;
}

button.guestLoginButton:hover {
    color: rgb(148, 225, 33);
    background-color: var(--bs-dark-rgb);
    text-decoration: underline;
}

@keyframes float {
    0% {transform: rotate(-.3deg)}
    50% {transform: rotate(.3deg)}
    100% {transform: rotate(-.3deg)}
}