.btn.logoutBtn {
    background-color: transparent;
    color: white;
    margin-left: .75rem;
    border-color: rgb(150, 150, 150, .7);
    width: fit-content;
    align-self: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.navbar-brand svg {
    color: rgb(148, 225, 33);
}