.UserEditForm {
    width: 100%;
    padding: 1.75rem;
}

.btn.UserEditFormButton {
    margin: .25rem;
    background-color: rgb(148, 225, 33);
    border: none;
}

.ProfilePage {
    color: white;
    border-radius: 1rem;
}

input.form-control:disabled {
    background-color: lightgrey;
    border: lightgrey;
}