.btn.searchBtn {
    background-color: rgb(148, 225, 33);
    border: none;
}

#search {
    border: none;
    color: white;
}

#search:focus {
    box-shadow: none;
}

.SearchForm {
    border-radius: .375rem;
    box-shadow: 0 0 .75rem .1rem rgb(0, 0, 0, .35);
}